{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Додати Анкету, Запитання та Відповіді</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Додати Анкету, Запитання та Відповіді</h1>
    <form method="POST">
        {% csrf_token %}
        
        <h2>Анкета</h2>
        {{ questionare_form.as_p }}

        <h2>Запитання</h2>
        {{ question_formset.management_form }}
        {% for form in question_formset %}
            {{ form.as_p }}
        {% endfor %}

        <h2>Відповіді</h2>
        {{ answer_formset.management_form }}
        {% for form in answer_formset %}
            {{ form.as_p }}
        {% endfor %}

        <button type="submit">Додати</button>
    </form>
</body>
</html>
