{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h2>Login</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <div class="margin-top-20">
        <p>Або зареєструйтеся</p>
        <form method="get" action="{% url 'register' %}">
            <button type="submit">реєстрація</button>
        </form>
    </div>
</body>
</html>